@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 68px;
  padding: 0 24px;
}
@media (min-width: 1115px) {
  .header {
    height: 112px;
    border-bottom: 1px solid hsl(220deg, 14%, 75%);
    width: 1109px;
    padding: 0 0 3px;
  }
}
.header__navigation {
  width: 175px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1115px) {
  .header__navigation {
    width: 593px;
  }
}
.header__menu:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .header__menu {
    display: none;
  }
}
.header__cart-avatar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
}
@media (min-width: 1115px) {
  .header__cart-avatar {
    width: 118px;
  }
}
.header__cart {
  position: relative;
  padding-top: 4px;
}
.header__cart--notification {
  display: none;
  background-color: hsl(26deg, 100%, 55%);
  width: 15px;
  height: 12px;
  border-radius: 16px;
  position: absolute;
  top: -2px;
  right: -5px;
  font-size: 0.6em;
  text-align: center;
  color: hsl(0deg, 0%, 100%);
}
.header__cart:hover {
  cursor: pointer;
}
.header__avatar {
  width: 24px;
}
@media (min-width: 1115px) {
  .header__avatar {
    width: 48px;
  }
}
.header__avatar:hover {
  cursor: pointer;
  border: 2px solid hsl(26deg, 100%, 55%);
  border-radius: 50%;
}

.modal-navbar {
  background-color: hsl(0deg, 0%, 100%);
  width: 250px;
  height: 100%;
  padding: 28px 24px;
}
@media (min-width: 1115px) {
  .modal-navbar {
    display: none;
  }
}
.modal-navbar__background {
  background-color: hsla(0deg, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  display: none;
}
.modal-navbar__items {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;
  list-style: none;
  margin-top: 50px;
}
.modal-navbar__link {
  text-decoration: none;
  color: hsl(220deg, 13%, 13%);
  font-weight: 700;
  font-size: 1.1em;
}
.modal-navbar__close-icon:hover {
  cursor: pointer;
}

.navbar {
  display: none;
  width: 400px;
}
.navbar__items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.navbar__link {
  text-decoration: none;
  color: hsl(220deg, 13%, 13%);
  display: block;
  height: 113px;
  padding-top: 44px;
}
.navbar__link:hover {
  border-bottom: 4px solid hsl(26deg, 100%, 55%);
}
@media (min-width: 1115px) {
  .navbar {
    display: block;
  }
}

.gallery__image-container {
  height: 300px;
  width: 100%;
  background-image: url("./assets/image-product-1.jpg");
  background-size: cover;
}
.gallery__image-container:hover {
  cursor: pointer;
}
.gallery__image-container--desktop {
  display: none;
}
@media (min-width: 1115px) {
  .gallery__image-container--desktop {
    width: 100%;
    height: 100%;
    display: block;
  }
}
.gallery__previus {
  background-color: hsl(0deg, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
}
.gallery__previus:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__previus {
    display: none;
  }
}
.gallery__next {
  background-color: hsl(0deg, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
}
.gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .gallery__next {
    display: none;
  }
}
.gallery__thumbnails {
  display: none;
}
@media (min-width: 1115px) {
  .gallery__thumbnails {
    display: flex;
    justify-content: space-between;
  }
}
.gallery__thumbnail {
  width: 90px;
  border-radius: 16px;
}
.gallery__thumbnail:hover {
  cursor: pointer;
  border: 2px solid hsl(26deg, 100%, 55%);
}
.gallery__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 15px 0 15px;
  cursor: default;
}
@media (min-width: 1115px) {
  .gallery__controls {
    display: none;
  }
}
@media (min-width: 1115px) {
  .gallery {
    width: 446px;
  }
  .gallery__image-container {
    border-radius: 16px;
    width: 446px;
    height: 446px;
    margin-bottom: 30px;
  }
}

.details {
  padding: 23px 25px;
}
.details__company {
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(26deg, 100%, 55%);
  font-size: 12px;
  letter-spacing: 0.21em;
  margin-bottom: 20px;
}
.details__title {
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
  letter-spacing: 0.01em;
  margin-bottom: 17px;
  font-size: 25px;
  line-height: 48px;
}
.details__description {
  color: hsl(219deg, 9%, 45%);
  line-height: 26px;
  margin-bottom: 24px;
}
.details__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details__prices--now {
  font-weight: 700;
  color: hsl(220deg, 13%, 13%);
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  width: 173px;
  justify-content: space-between;
  font-size: 28px;
}
.details__prices--discount {
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(26deg, 100%, 55%);
  font-size: 1rem;
  padding: 0 10px;
  background-color: hsl(25deg, 100%, 94%);
  border-radius: 5px;
  letter-spacing: 0.04em;
}
.details__prices--before {
  color: hsl(219deg, 9%, 45%);
  letter-spacing: 0.04em;
  text-decoration-line: line-through;
}
.details__product-quantity {
  margin-top: 36px;
}
.details__product-quantity .input {
  width: 100%;
  font-size: 16px;
  height: 56px;
  border-radius: 10px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  background-color: hsl(26deg, 100%, 55%);
  border: none;
  background-color: hsl(223deg, 64%, 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin-bottom: 15px;
}
@media (min-width: 1115px) {
  .details__product-quantity .input {
    width: 155px;
  }
}
.details__product-quantity .input__number {
  text-align: center;
  border: none;
  background-color: hsl(223deg, 64%, 98%);
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  outline: none;
}
.details__product-quantity .input__minus, .details__product-quantity .input__plus {
  cursor: pointer;
}
.details__button {
  width: 100%;
  font-size: 16px;
  height: 56px;
  border-radius: 10px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  background-color: hsl(26deg, 100%, 55%);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 1115px) {
  .details__button {
    width: 271px;
  }
}
.details__cart-icon {
  margin-right: 15px;
  fill: hsl(0deg, 0%, 100%);
}
@media (min-width: 1115px) {
  .details {
    width: 446px;
    padding: 62px 2px 0 0;
  }
  .details__title {
    font-size: 2.7em;
    margin-bottom: 36px;
  }
  .details__description {
    margin-bottom: 24px;
  }
  .details__prices {
    flex-direction: column;
    align-items: flex-start;
    height: 64px;
  }
  .details__product-quantity {
    display: flex;
    justify-content: space-between;
  }
}

.cart-modal {
  width: 360px;
  height: 260px;
  border-radius: 8px;
  box-shadow: 3px 3px 10px;
  position: absolute;
  top: 75px;
  right: 6px;
  background-color: hsl(0deg, 0%, 100%);
  display: none;
}
.cart-modal__title {
  font-weight: 700;
  padding: 24px;
  border-bottom: 1px solid hsl(220deg, 14%, 75%);
}
.cart-modal__checkout-container {
  padding: 24px;
}
.cart-modal__datails-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  color: hsl(219deg, 9%, 45%);
}
.cart-modal__image {
  width: 50px;
  border-radius: 4px;
}
.cart-modal__price span {
  color: hsl(0deg, 0%, 0%);
  font-weight: 700;
}
.cart-modal__delete:hover {
  cursor: pointer;
}
.cart-modal__checkout {
  width: 100%;
  font-size: 16px;
  height: 56px;
  border-radius: 10px;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  background-color: hsl(26deg, 100%, 55%);
  border: none;
}

.modal-gallery {
  width: 550px;
}
.modal-gallery__background {
  background-color: hsla(0deg, 0%, 0%, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  display: none;
  place-content: center;
}
.modal-gallery__image-container {
  background-image: url("/assets/image-product-1.jpg");
  height: 550px;
  background-size: cover;
  border-radius: 16px;
  margin-bottom: 39px;
}
@media (min-width: 1115px) {
  .modal-gallery__thumbnails {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 450px;
  }
}
.modal-gallery__thumbnail {
  width: 90px;
  border-radius: 16px;
}
.modal-gallery__thumbnail:hover {
  cursor: pointer;
  border: 2px solid hsl(26deg, 100%, 55%);
}
.modal-gallery__close {
  width: 16px;
}
.modal-gallery__close:hover {
  cursor: pointer;
}
.modal-gallery__previus {
  background-color: hsl(0deg, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
}
.modal-gallery__previus:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .modal-gallery__previus {
    display: block;
  }
}
.modal-gallery__next {
  background-color: hsl(0deg, 0%, 100%);
  width: 40px;
  height: 40px;
  padding: 12px;
  border-radius: 50%;
}
.modal-gallery__next:hover {
  cursor: pointer;
}
@media (min-width: 1115px) {
  .modal-gallery__next {
    display: block;
  }
}
.modal-gallery__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 606px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modal-gallery__close-container {
  text-align: right;
  height: 30px;
}
.modal-gallery__close {
  width: 16px;
}
.modal-gallery__close:hover {
  cursor: pointer;
  content: url(/assets/icon-close--orange.svg);
}

.main-container {
  width: 375px;
  margin: auto;
  position: relative;
}
@media (min-width: 1115px) {
  .main-container {
    width: 1115px;
  }
}

@media (min-width: 1115px) {
  .content {
    display: flex;
    padding: 90px 49px;
    justify-content: space-between;
  }
}

.show {
  display: block;
}

.cart-empty {
  font-weight: 700;
  color: hsla(0deg, 0%, 0%, 0.5);
  text-align: center;
  margin-top: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
